{{ define "main" }}

<main id="single">
    <h1 class="titles">{{ .Title }}</h1>
    <article id="content">{{ .Content }}</article>

    <p> ✍️ ditulis: <span> {{ .Date.Format "Mon Jan 2, 2006" }} </span></p>

    {{ with .Params.tags }}

    <p> 👉 <a href="/tags">tag:</a>

      {{range .}}
        <a class="tags" href="/tags/{{ . | urlize }}"><span>#{{ . }}/</span></a>
      {{end}}
    </p>

  {{ end }}
    <p><a href="/tulisan">baca tulisans lainnya 🤙</a></p>

    <hr>
</main>

{{ partial "info.html" . }}

    <script>
        document.getElementById("title").scrollIntoView();
    </script>

                            

{{ end }}
